// ==========================================================================
// Grid
// ==========================================================================

.col-6 {
  flex: 0 0 50%;
}

.mt-35 {
  margin-top: em(35px);
}
.mb-0 {
  margin-bottom: 0;
}
.mb-15 {
  margin-bottom: em(15px);
}
.mb-30 {
  margin-bottom: em(30px);
}
.mb-40 {
  margin-bottom: em(40px);
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-80 {
  margin-bottom: 80px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.color {
  &-primary {
    color: $brilliant-azure;
  }
  &-gray {
    color: $grey;
  }
  &-gray-2 {
    color: $grey-2;
  }
  &-light-gray {
    color: $light-grey;
  }
}
.bg-white {
  background-color: $white;
}
.bg-gray {
  background-color: #f1f2f3;
}
blockquote {
  margin: 0 0 30px 10px;
}
img {
  max-width: 100%;
}
.page-title {
  font-size: em(25px);
}

/* 

====== Move-from-top effect ======

*/

.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

button.mfp-arrow {
  display: none;
}