// ==========================================================================
// Base
// ==========================================================================

html {
  overflow-x: hidden;
}

body {
  font-family: $font-family--primary;
  font-size: em(19px);
  line-height: 1em;
  overflow-x: hidden;
}

p {
  font-size: 0.9rem;
}

p,
span,
em,
a,
address {
  color: $silver;
}

h1 {
  font-size: 3rem;
}

h2,
p {
  font-family: $font-family--secondary;
  margin-top: 0;
}

a:hover,
a.active {
  color: $brilliant-azure;
}

div {
  box-sizing: border-box;
}

body,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}


