// ==========================================================================
// Nav
// ==========================================================================

.nav-item {
  list-style: none;
  margin: 22px;
}

.nav-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  padding: 30px;
  border: 1px solid #d2d3d4;
  color: #999;
  box-sizing: border-box;
}

.nav-link:hover,
.nav-link.active {
  color: $brilliant-azure;
}

.nav-link i {
  margin-top: 30px;
  color: $brilliant-azure;
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
